body {
    font-family: Arial;
    background: #f5f5f5;
}

.chat-container {
    width: 450px;
    margin: 50px auto;
    background: white;
    border-radius: 10px;
    padding: 20px;
}

.chat-box {
    height: 400px;
    overflow-y: scroll;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
}

.user-msg {
    text-align: right;
    background: #d1e7ff;
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
}

.bot-msg {
    text-align: left;
    background: #e8ffe8;
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
}

.input-area {
    display: flex;
}
